.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 350px;
}

.header {
  height: 75px;
  background-color: black;
}

h1 {
  color: white;
  margin: 0;
}

.main {
  justify-content: center;
  flex-wrap: wrap;
  height: calc(100vh - 75px);
}
